header {
  display: block;
  max-width: 100%;
  margin-bottom: 21px;
  word-wrap: break-word;

  @include vp-1279 {
    margin-bottom: 26px;
    margin-top: 27px;
  }

  @include vp-767 {
    margin-bottom: 24px;
    margin-top: 24px;
  }
}

header h1 {
  @include font($ff-roboto, 500, 36px, $color-default-black, 55px);
  text-align: center;
  text-transform: uppercase;

  @include vp-767 {
    @include font($ff-roboto, 700, 24px, $color-default-black, 32px);
  }
}
