.room__booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  height: auto;

  @include vp-1279 {
    min-height: 160px;
    flex-direction: column;
    align-items: stretch;
    padding-top: 17px;
    padding-left: 25px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 21px;
    padding-top: 3px;
    padding-bottom: 47px; //for PP
    // margin-bottom: -2px;
  }
}

.room__booking-price h3 {
  @include font($ff-open-sans, 700, 16px, $color-default-white, 24px);

  @include vp-767 {
    font-size: 14px;
    line-height: 21px; /* 150% */
  }
}

.room__booking-price p {
  @include font($ff-roboto, 700, 19px, $color-default-white, 24px);

  @include vp-767 {
    font-size: 17px;
    line-height: 24px; /* 141.176% */
  }

  :first-child {
    color: $color-wild-watermelon;
    font-size: 24px;
    line-height: 32px;

    @include vp-767 {
      font-size: 20px;
    }
  }

  :last-child {
    color: $color-nobel;
    font-family: $ff-open-sans; /////////
    font-size: 23px;
    line-height: 32px;
    font-weight: 400;

    @include vp-767 {
      font-size: 20px;
    }
  }
}

.room__booking-button {
  // padding: 9px 24px 13px 33px; //in fact - 11px 24px 13px 25px
  display: block;
  width: 180px;
  height: 48px;
  border-radius: 5px;
  background-color: $color-razzmatazz;
  border: none;
  @include font($ff-open-sans, 700, 16px, $color-default-white, 24px);
  text-align: center;

  @include vp-1279 {
    width: 100%;
  }

  @include vp-767 {
    font-size: 14px;
    height: 42px;
  }
}
