.room__info,
.room__info-without-line {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 0 26px 0 24px;
  word-wrap: break-word;

  @include vp-1279 {
    padding-left: 28px;
    padding-bottom: 7px;
  }

  @include vp-767 {
    padding: 21px;
    padding-bottom: 0;
  }
}

.room__info-link h2 {
  @include font($ff-roboto, 700, 24px, $color-default-white, 32px);
  margin-bottom: 9px;

  @include vp-767 {
    font-size: 20px;
    line-height: 26px;
  }

  &:active {
    color: $color-half-white;
  }
}

.room__info p,
.room__info-without-line p {
  @include font($ff-open-sans, 400, 16px, $color-default-white, 24px);

  @include vp-767 {
    font-size: 14px;
    line-height: 21px;
  }
}

.room__info::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: $color-dark-white;
  margin: 20px 0 -8px 0; // fact - mt -20

  @include vp-1279 {
    margin-top: 21px;
    margin-bottom: -5px;
  }

  @include vp-767 {
    margin-top: 18px;
    margin-bottom: -8px;
  }
}

.room__info-link {
  text-decoration: none;

  &:hover {
    color: $color-default-white;
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
  }
}
