@mixin font($family, $weight, $size, $color, $line-height) {
  font-weight: $weight;
  font-size: $size;
  font-family: $family;
  color: $color;
  line-height: $line-height;
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-319 {
  @media (max-width: ($vp-320 - 1px)) {
    @content;
  }
}
