$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-wild-watermelon:             #ff4b77;
$color-razzmatazz:                  #f91155;
$color-dark-white:                  rgba(255, 255, 255, 0.2);
$color-no-active-white:             rgba(255, 255, 255, 0.4);
$color-half-white:                  rgba(255, 255, 255, 0.5);
$color-vulcan:                      #3c3e43;
$color-nobel:                       #999999;
$color-illusion:                    #ff97b0;
$color-coral:                       #ff7647;
$color-brink-pink:                  #f9637c;
$color-crimson:                     #d8003f;
$grey-to-black:                     linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0a2240 100%);
$white-to-light-blue:               linear-gradient(69deg, rgba(170, 203, 240, 0.25) 11.33%, rgba(170, 203, 240, 0.75) 64.1%);

$ff-roboto:                         "Roboto", "Arial", sans-serif;
$ff-open-sans:                      "OpenSans", "Arial", sans-serif;

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1280:                           1280px;
